{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bujji.css' %}">
</head>
<body>
    <center>
        <h1>dept_details</h1>
        <table border="3px">
            <tr>
            <th>deptno</th>
            <th>dname</th>
            <th>dloc</th>
        </tr>
        {% for i in keys %}
        <tr>
            <td>{{i.deptno}}</td>
            <td>{{i.dname}}</td>
            <td>{{i.dloc}}</td>
        </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>